# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
.ruff_cache/
ENV/

# Development
.DS_Store
.ruff_cache/
.python-version

# IDE
.idea/
.vscode/
*.swp
*.swo
.editorconfig

# node.js
node_modules
**/node_modules
.turbo
**/.turbo
dist
**/dist
build
**/build
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

# Docker
Dockerfile*
docker-compose*
.dockerignore

# git
.git
.gitignore

# workspace
README.md
.env
coverage*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test files
**/test
**/tests
**/*.test.*
**/*.spec.*

# Cache directories
.cache
**/.cache