VITE_POSTHOG_KEY=
VITE_POSTHOG_HOST=https://eu.i.posthog.com
VITE_TAXMAXI_API_BASE_URL=http://localhost:4000
# uncomment to enable any of the following mocks (separated by commas):
# VITE_ENABLED_MOCKS="source-sync-island,source-cards"